body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  font-family: "Montserrat";
}

/* Applies to website banner */
#banner {
  display: flex;
  flex: 1 1 0;
  margin-bottom: 2%;
  width: 100%;
  height: 192px;
  object-fit: cover;
  object-position: 50% 50%;
  border-bottom: 1px solid #d8a47f;
}

h2 {
  font-size: 180%;
  margin-left: 10px;
  margin-right: 75px;
}

main {
  display: flex;
  flex: 1 1 0;
  max-width: 100%;
  margin: 2% auto;
}

/* Contains content indicated in header ("About Me", 
"Portfolio", "Contact Me", "Resume") */

section {
  display: flex;
  flex: 1 1 0;
  padding-right: 1%;
  padding-left: 1%;
  flex-direction: column;
  border-bottom: 1px solid #d8a47f;
}

article {
  display: flex;
  margin: 1% 0;
}

/* Enables continuous margin */

.blankspace {
  margin-left: 10px;
  margin-right: 160px;
}

/*
<!--Include: *target BLANK repo link*?-->
.github-link::after ?
.examples::after {
  content: "Click here for GitHub repo";
  text-align: left;
  padding-left: 5px;
  border-radius: 2px;
  width: 140px;
  height: 42px;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}
*/

#uProjekt::after {
  content: "uProjekt: Interactive project management application";
  text-align: left;
  padding-left: 5px;
  border-radius: 2px solid black;
  width: 200px;
  height: 42px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

#nurseryRhymesQuiz::after {
  content: "Interactive timed nursery rhymes quiz";
  text-align: left;
  padding-left: 5px;
  border-radius: 2px solid black;
  width: 140px;
  height: 42px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

#dayCalendar::after {
  content: "Interactive workday tasks scheduler";
  text-align: left;
  padding-left: 5px;
  border-radius: 2px solid black;
  width: 140px;
  height: 42px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

article p {
  display: flex;
  margin: 1% 1%;
  font-size: 110%;
}

article ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 110%;
}

/* Enables interactive links */

article li {
  padding: 1%;
  font-family: cursive;
}

article a {
  color: #13293d;
  font-weight: bold;
  text-decoration: none;
}

article a:hover {
  color: #d1bd07;
}

/* Styling for media queries: Resize and re-align content for 
smaller screens */

@media screen and (max-width: 768px) {
  main,
  article {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  h2 {
    text-align: center;
    margin: 2% 0;
    /* border-top: 1px solid #d8a47f; */
    padding: 2%;
  }

  #uProjekt {
    width: 100%;
  }

  #nurseryRhymesQuiz {
    width: 100%;
  }

  #dayCalendar {
    width: 100%;
  }

  article ul {
    text-align: center;
  }
}
